.paragraph{
    margin: 20px;
    padding: 10px;
    width: auto;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.container-title{
    margin: 10px;
    padding: 10px;
    width: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px;
    grid-column-gap: 20px;
    font-size: 40px;
}

.container-body{
    margin: 10px;
    padding: 10px;
    width: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 20px;
    font-size: 25px;
}

.body-text{
    padding: 12px
}

.container-button{
    margin: 10px;
    padding: 10px;
    width: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px;
    grid-column-gap: 20px;
    font-size: 25px;
}

.find-out-more{
    padding-top: 12px;
}

.container-button a{
    color: black
}

.container-button a:link{
    text-decoration: none;
}

.container-button a:visited{
    text-decoration: none;
}

.container-button a:hover{
    text-decoration: underline;
}

.container-button a:active{
    text-decoration: underline;
}